/* components/Footer/styles.module.css */
.footer {
    width: 100%;
    padding: 10px 0;
    background-color: #f8f9fa;
    color: #6c757d;
    text-align: center;
    position: absolute;
    bottom: 0;
  }
  
  .copyright {
    margin: 0;
    font-size: 1rem;
  }
  