/* Global Styles with Themes */
:root {
  --primary-color: #28a745;
  /* Default primary color (green) */
  --secondary-color: #007bff;
  /* Default secondary color (blue) */
  --background-color: #f0f0f0;
  /* Light background */
  --text-color: #333333;
  --accent-color: #ffb703;
  /* Accent color */
  --error-color: #d90429;
  /* Error color */
  --border-radius: 8px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --transition-speed: 0.3s;
}

/* Dark Theme */
.theme-dark {
  --primary-color: #181818;
  --secondary-color: #1e90ff;
  --background-color: #121212;
  --text-color: #ffffff;
  --accent-color: #ffc107;
  --error-color: #ff6b6b;
}

/* Sage Green Theme */
.theme-sage {
  --primary-color: #88a28a;
  --secondary-color: #a3d2ca;
  --background-color: #e3e7e1;
  --text-color: #4b6043;
  --accent-color: #a3d2ca;
  --error-color: #f76a8c;
}

/* Deep Blue Theme */
.theme-blue {
  --primary-color: #0a192f;
  --secondary-color: #1b75bc;
  --background-color: #f0f7ff;
  --text-color: #d1e8ff;
  --accent-color: #ffb703;
  --error-color: #ff6b6b;
}

body,
html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color var(--transition-speed), color var(--transition-speed);
}